/*
.product-box img{
    
    filter: grayscale(100%);
}
.product-box:hover img{
    filter: grayscale(0%);
}

.product-box img{
    
    filter: saturate(0);
}
.product-box:hover img{
    filter: saturate(1);
}

.product-box img{
    
    filter: brightness(0.1);
    
}
.product-box:hover img{
    filter: brightness(1);
}
*/

.product-box img{
    
    filter:contrast(1);
}
.product-box:hover img{
    filter: contrast(1.2);
}