<footer>
    <div class="container">
        <div class="col-s-3 icon-footer">
            <img src="/img/paquete.png" alt="icono" width="40%">
            <p><strong>Envíos gratis</strong><br> por compras de $28.000</p>
        </div>

    </div>

    <div class="container">
        <div class="col-s-3 icon-footer">
            <img src="/img/paquete-de-devolucion.png" alt="icono" width="40%">
            <p><strong>Devoluciones gratis</strong><br>tienes 30 días</p>
        </div>
    </div>

    <div class="container">
        <div class="col-s-3 icon-footer">
            <img src="/img/calendario-de-entregas.png" alt="icono" width="40%">
            <p><strong>Atención al cliente</strong><br>7 dias a la semana</p>
        </div>
    </div>

    <div class="container">
        <div class="col-s-3 icon-footer">
            <img src="/img/prestamo-asegurado.png" alt="icono" width="40%">
            <p><strong>Pago seguro</strong><br>100% confianza</p>
        </div>
    </div>

    &copy;Pincelarte
    
</footer>





