<h1 class="tittle-product">Nuestros Diseños</h1>

<div class="row">
    <div class="col-xs-12">
        <form>
            <input class="search-input" type="search" placeholder="Buscar el articulo">
        </form>

        <select class="select-order">
            <option value="">Ordenar por</option>
            <option value="">Precio mas bajo</option>
            <option value="">Precio mas alto</option>
            <option value="">Por opiniones</option>
            <option value="">Por descuento</option>
        </select>

    </div>
</div>

<div class="row">
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo1.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Noche</h3>
        <strong class="price">29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo2.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Dia</h3>
        <strong class="price"><del>31.000</del> 29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo1.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Noche</h3>
        <strong class="price">29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo2.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Dia</h3>
        <strong class="price"><del>31.000</del> 29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo1.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Noche</h3>
        <strong class="price">29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo2.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Dia</h3>
        <strong class="price"><del>31.000</del> 29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo1.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Noche</h3>
        <strong class="price">29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo2.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Dia</h3>
        <strong class="price"><del>31.000</del> 29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo1.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Noche</h3>
        <strong class="price">29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo2.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Dia</h3>
        <strong class="price"><del>31.000</del> 29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo1.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Noche</h3>
        <strong class="price">29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo2.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Dia</h3>
        <strong class="price"><del>31.000</del> 29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo1.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Noche</h3>
        <strong class="price">29.000</strong>
    </a>
    <a href="#" class=" col-m-4 col-s-6 product-box">
        <img alt="producto 1" src="../img/modelo2.jpg" width="70%">
        <div class="hidden offer">Oferta</div>
        <h3>Vestido Dia</h3>
        <strong class="price"><del>31.000</del> 29.000</strong>
    </a>

</div>